html {
  position: relative;
  min-height: 100%;
}

hr {
	 border: 0;
	 height: 1px;
	 background: #333;
	 margin-top: 0;
}

body {
	margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  height: 60px;
}

/* Navbar Formatting */

.navbar {
	background-color: #3DD84D;
	border-color: black;
}

.nav {
    width: 100%;
}

.nav li {
    width: 16.6666666%;
	text-align: center;
}

.nav a {
	font-weight: bold;
	color: inherit;
}

/* Portfolio Formatting */

.portfolio {
	text-align: center;
}

#portfolio-body {
	margin-top: -15px;
	margin-bottom: 15px;
}

.img-adjust {
	width: 400px;
    height: 300px;
    overflow: hidden;
    margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 5px;
}

.img-adjust > img {
	position: relative;
	left: 100%;
    margin-left: -200%;
	width: auto;
	height: 100%;
	object-fit: cover;
}

.portfolio > p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.property-name {
	align: center;
	font-size: medium;
	font-weight: bold;
}

.property-former-name {
	align: center;
	font-size: smaller;
}

.property-info {
	align: center;
	font-weight: bold;
}

.property-address {
	align: center;
}

.property-close {
	align: center;
	font-size: small;
	font-style: italic;
}